.header_img{
   width: 300px; 
}

header ul{
    display:flex;
    flex-wrap: wrap;
    padding:15px 0;
    color:white;
    background-color: black;
    column-gap: 50px;

}

header ul li{
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}
main{
    display: flex;
    width: 100%;
}
.left{
    width:68%;
    margin-right: 2%;
    margin-bottom: 40px;
}
.left img{
    width: 100%;
}
.right{
    width: 30%;
    padding-top: 14px;
}
h1{
    border-left: 8px solid black;
    border-bottom: 1px solid black;
    color: black;
}
h2{
    border-bottom: 1px solid black;
}
ul li{
    list-style-type: none;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgray;
    gap: 30px;
    padding: 30px;
}
   
.box_pic{
    width: 22%;
}

.memo{
    text-align: center;
    margin-top: 0;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
}